.container {
  margin-top: -$height_navbar;
  padding: $padding_basic-layout;
  min-height: calc(100vh - $height_banner);
  border-radius: $border-radius_layout;
  background-color: $color_white;

  @extend %layout_container;

  &__title {
    font-size: 1.5rem;
    margin-bottom: $layout-size_small;
  }
}
