$color_white:#FFFFFF;
$color_black:#000000;

$color_accent:#3e51fe;
$color_accent--dark:#232540;
$color_auxiliary:#47180b;
$color_primary:#faf7f7;

$color_text-color:#1f100b;
$color_text-color--light:#747693;

$color_notice:#eba218;
$color_like:#e05e2e;
$color_security:#32bf84;

$color_line:#dfe3ea;
$color_line--light:#f8f9fa;

$gradient-linear_accent:#303584,
#2573A3;

$gradient-linear_opacity-mask:rgba(0, 0, 0, 0.15),
#000000;

$shadow-box_navbar: #00000080 0px 2px 15px -10px;
